html,
body {
  overflow: auto;
  height: 100%;
}

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("../img/oui-logo.png") no-repeat;
  overflow: auto;
  height: 100%;
}

@media screen and (min-width: 1px) {
  #app {
    background-size: 300px;
    background-position: right top;
    background-position-y: -70px;
  }

  .page-title {
    font-size: 2.5rem;
    line-height: 1.2;
  }

  .page-title-2 {
    font-size: 2.2rem;
    line-height: 1.2;
  }
}

@media screen and (min-width: 576px) {
  #app {
    background-size: 400px;
    background-position: right top;
    background-position-y: -95px;
  }
}

@media screen and (min-width: 768px) {
  #app {
    background-size: 450px;
    background-position: right top;
    background-position-y: -110px;
  }

  .page-title {
    font-size: 5.5rem;
    line-height: 1.2;
  }

  .page-title-2 {
    font-size: 3.5rem;
    line-height: 1.2;
  }
}

@media screen and (min-width: 992px) {
  #app {
    background-size: 600px;
    background-position: right top;
    background-position-y: -150px;
  }
}

@media screen and (min-width: 1200px) {
  #app {
    background-size: 800px;
    background-position: right top;
    background-position-y: -180px;
  }
}
